* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/* ------------------------------- Preloader -----------------------------------*/

#preloader{
    background: #fff url("../images/loader.gif") no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* ------------------------------- Back to Top -----------------------------------*/
.back-to-top {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #4154f1;
    text-decoration: none;
    border-radius: 35px;
    display: none;
}
.back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

.back-to-top:hover i {
    top: 7px;
}

@media (max-width:720px) {
  .back-to-top {
      bottom: 38px;
      width: 30px;
      height: 30px;
  }
  .back-to-top i {
      left: 9px;
      top: 2px;
      font-size: 14px;
  }
  .back-to-top:hover i {
      top: 0;
  }
}

/*-------------------SECTION - heading and sub-heading --------------------------*/
section {
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #4154f1;
}

@media (max-width:720px) {
  .section-header {
    padding: 20px 10px 10px 10px;
  }
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 22px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 18px;
    line-height: 32px;
  }
}


/*-------------------NAVBAR---------------------------*/
.brand-line1 {
    font-size: 2.5rem;
    margin-left: 100px;
    margin-bottom: 0;
    font-family: 'WindSong', cursive;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}

.nav-item:hover {
    transform: scale(1.15)
}

.nav-item {
    text-align: right
}
.nav-item a{
    color: #fff !important;
}

.navbar-nav, .navbar-toggler {
    margin-right: 7%
}

.nav-link {
    font-size: 1.15rem;
    font-weight: 350
}

.navbar {
  background-color: #4154f1;
}

.navbar-toggler{
  border-color:#fff !important;
}


@media (max-width :900px) {
  .brand-line1 {
      font-size: 2rem;
      margin-left: 15%;
  }
  .nav-item:hover {
      transform: none
  }
  .navbar-nav, .navbar-toggler {
      margin-right: 2%
  }
}

/*---------------------------HOMEPAGE--------------------------*/
.homepage {
  height: 100vh;
  width: 100%;
  background-image: url(../images/home-bg.png) top center no-repeat;
  background-size: cover;
}

.homepage h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: #012970;
}

.homepage h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.homepage .row .wrapper {
  margin-top: 2%;
}

.button {
  display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background: #fff;
	overflow: hidden;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button span {
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin-left: 10px;
}

.button:hover {
	width: 200px;
}

.button:nth-child(1):hover .icon {
	background: #D44638;
}

.button:nth-child(2):hover .icon {
	background: #0e76a8;
}

.button:nth-child(3):hover .icon {
	background: #333;
}

.button:nth-child(1) span a{
	color: #D44638;
}

.button:nth-child(2) span a{
	color: #0e76a8;
}

.button:nth-child(3) span a{
	color: #333;
}

.button .icon {
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50px;
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-in-out;
}

.button:hover i {
	color: #fff;
}

@media (max-width:720px) {
  .button:hover {
  	width: 160px;
  }
  .button span a{
  	font-size: 15px;
  }
}

.homepage .homepage-btn {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.homepage .homepage-btn span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.homepage .homepage-btn i {
    padding-left: 15px;
    font-size: 18px;
    transition: 0.3s;
}

.homepage .homepage-btn:hover i {
    transform: translateX(5px);
}

@media (max-width:720px) {
  .homepage .homepage-btn{
    width: 140px;
    padding: 14px 18px;
  }
  .homepage .homepage-btn span {
      font-weight: 300;
      font-size: 12px;
  }
  .homepage .homepage-btn i {
      padding-left: 8px;
      font-size: 9px;
  }
}

.homepage .homepage-img {
    text-align: right;
    padding-top: 2%;
}

.homepage .typing{
    color: #012970;
}

@media (min-width: 1024px) {
    .homepage {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .homepage {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .homepage .homepage-img {
        text-align: center;
        margin-top: 20px;
    }
    .homepage .homepage-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .homepage {
        padding: 60px 0 40px 0;
        text-align: center;
    }
    .homepage .home-ui-text{
        margin-top: 7%;
    }
    .homepage h1 {
        font-size: 35px;
    }
    .homepage h2 {
        font-size: 17px;
    }
    .homepage .homepage-img img {
        width: 90%;
    }
}


/*--------------------------- SKILLS -------------------------*/
.skill .container{
  margin-top: 1%;
  padding-top: 2%;
}

.skill #prof-container{
  margin-top: 1%;
  padding-top: 2%;
}

.skill .content {
  background-color: #f6f9ff;
  padding: 45px;
}

.skill h3 {
  font-size: 25px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.skill .content h2 {
  font-size: 22px;
  font-weight: 700;
  color: #012970;
}

.skill .content p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  font-size: 18px;
}

.skill .coding-icons-group img{
  height: 8vh;
  margin: 3% 0.4%;
}

@media (max-width:720px) {
  .skill .coding-icons-group img{
    height: 5vh;
    margin: 3% 4.5%;
  }
}

.skill .skill-img1 {
  height: 80vh;
}


@media (max-width:768px) {
  .skill .skill-img1 {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
  }
}

.skill .container .prof-bot-pad{
  padding-bottom: 0px;
}

.skill .meter {
    height: 20px;
    position: relative;
    background: #f3efef;
    border-radius: 25px;
}

.skill .meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    position: relative;
    overflow: hidden;
}

.skill .meter .width1{
  width: 80%;
}
.skill .meter .width2{
  width: 90%;
}
.skill .meter .width3{
  width: 90%;
}

.skill .meter .width4{
  width: 85%;
}
.skill .meter .width5{
  width: 80%;
}
.skill .meter .width6{
  width: 90%;
}


/*---------------------------EXPERIENCE-------------------------*/
.exp .container{
  margin-top: 1%;
  padding-top: 2%;
}

.exp .row{
  margin-top: 3%;
}

.exp .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;

  border-style: solid;
  border-radius: 10px;
  border-color: green;
}

.exp .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.exp .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.exp .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.exp .box:hover img {
  transform: scale(1);
}

@media (max-width:768px) {
  .exp .box img{
    height: 35vh;
    margin: 0 auto;
  }
}

/*--------------------------- PROJECTS -------------------------*/
.projects .container{
  margin-top: 1%;
  padding-top: 2%;
}

@media (max-width:768px) {
  .projects .container {
    margin-top: 7%;
  }
}

.projects .row img{
  padding-top: 5%;
}

@media (min-width:1400px) {
  .projects .row img{
    padding-top: 0;
  }
}

@media (max-width:768px) {
  .projects .row img{
    margin: 0 auto;
    height: 70vh;
  }
}

.projects .project-box {
  padding: 15px 12px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  margin-top: 3%;
  height: 100%;
}

.projects .sub-project-box {
  padding: 15px 12px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  margin-top: 3%;
  height: 100%;
}

.projects .sub-project-box .sub-project-sub-img1{
  margin-top: 10%;
}

.projects .sub-project-box .sub-project-sub-img2{
  margin-top: 20%;
}

.projects .project-box img{
    padding-top: 0px !important;
}

.projects .sub-project-box img{
    padding-top: 0px !important;
}

.projects .project-box .heading {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0 7%;
  width: 120px !important;
}

.projects .project-box p {
  margin-left: 7%;
}

@media (max-width:720px) {
  .projects .project-box p {
    font-size: 14px;
  }
  .projects .project-box{
    margin-top: 0px;
  }

  .projects .sub-project-box .sub-project-sub-img1{
    margin-top: 5px;
  }

  .projects .sub-project-box .sub-project-sub-img2{
    margin-top: 30px;
  }

  .projects .sub-project-box{
    margin-top: 0px;
    padding: 20px 12px;
  }

  .projects .project-box img{
      width: 100%;
      height: 100%;
  }
  .projects .sub-project-box img{
      width: 100%;
      height: 100%;
  }
}

/* Styles for project boxes individually */
.projects .row .other-project{
  margin-top: 10px;
}

.projects .project-box i {
  background: #ecf3ff;
  padding: 4px;
}

/*--------------------------- CONTACT -------------------------*/
.contact .container{
  margin-top: 1%;
  padding-top: 2%;
}

@media (max-width:768px) {
  .contact .row img{
    margin-top: 5% !important;
  }
}

.contact .contact-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
  margin-top: 2%;
}

.section-header h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: orange;
  text-transform: uppercase;
}

.contact .contact-form input, .contact .contact-form textarea {
  border-radius: 0;
  font-size: 14px;
}

.contact .contact-form input:focus, .contact .contact-form textarea:focus {
  border-color: #4154f1;
}

.contact .contact-form input {
  padding: 10px 15px;
}

.contact .contact-form textarea {
  padding: 12px 15px;
}

.contact .contact-form button:hover {
  background: orange;
}


/*--------------------------- FOOTER -------------------------*/
.footer {
  text-align: center;
  background-color: #4154f1;
  font-size: 1rem;
  color:#fff;
  padding-bottom: 10px;
  margin-top: 2%;
}

.socialicon {
  margin: 20px 10px;
  font-size: 1.3rem
}

.socialicon:hover {
  transform: scale(1.5)
}

.footer p{
  margin-bottom: 0;
}

.footer a{
  color: #fff;
}

.footer a:hover{
  color: orange;
}

/*---------------------------Disable aos animation delay on mobile devices-------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
