/*-------------------GENERAL---------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*-------------------NAVBAR---------------------------*/
.brand-line1 {
    font-size: 2.5rem;
    margin-left: 100px;
    margin-bottom: 0;
    color: black;
    font-family: 'Dancing Script', cursive;
}

.nav-item:hover {
    transform: scale(1.15)
}

.nav-item {
    text-align: right
}
.nav-item a{
    color: black !important;
}

.navbar-nav, .navbar-toggler {
    margin-right: 10%
}

.nav-link {
    font-size: 1.15rem;
    font-weight: 350
}


@media (max-width :900px) {
    .brand-line1 {
        font-size: 2rem;
        margin-left: 30%;
    }
    .nav-item:hover {
        transform: scale(0)
    }
    .navbar-nav, .navbar-toggler {
        margin-right: 2%
    }
}

/*---------------------------HOMEPAGE--------------------------*/
.hero {
  height: 85vh;
  width: 100%;
  background-image: url(../images/home-bg.png) !important;
  background-position: center;
  background-size: cover;
  position: relative
}

.hero .home-ui-text{
    margin-top: 9%;
}

.hero h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: #012970;
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .hero-img {
    text-align: right;
    padding-top: 5%;
}

.hero .typing{
    color: aqua;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .hero .hero-img {
        text-align: center;
        margin-top: 80px;
    }
    .hero .hero-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 60px 0 40px 0;
        text-align: center;
    }
    .hero h1 {
        font-size: 35px;
    }
    .hero h2 {
        font-size: 18px;
    }
    .hero .hero-img img {
        width: 100%;
    }
}

/*--------------------------- SKILLS -------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 16px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  font-size: 18px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

.about .meter {
    height: 20px;
    position: relative;
    background: #f3efef;
    border-radius: 25px;
}

.about .meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;
}

.about .meter .width1{
  width: 80%;
}
.about .meter .width2{
  width: 90%;
}
.about .meter .width3{
  width: 75%;
}


/*---------------------------Disable aos animation delay on mobile devices-------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
